@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!

/*.katex {
  display: block !important;
  text-align: center !important;
}
*/

table {
	margin: auto !important;
}

img {
	display: block; 
	margin: auto; 
	border-radius: 20px
}

@media all and ($mobile) {
	.page-title {
		font-size: 1.25em;
	}
}