@use "./base.scss";

// put your custom CSS here!

/*.katex {
  display: block !important;
  text-align: center !important;
}
*/

table {
	margin: auto !important;
}

img {
	display: block; 
	margin: auto; 
	border-radius: 20px
}